.editor-container {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}

.editor-inner {
  position: relative;
  padding: 16px;
}

.editor-input {
  min-height: 200px;
  resize: none;
  font-size: 16px;
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 16px;
  left: 16px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.toolbar {
  border-bottom: 1px solid #eee;
  padding: 8px;
  margin-bottom: 8px;
}

.toolbar button {
  margin-right: 4px;
} 